body {
    padding: 0;
    margin: 0;
    background-color: #171a1b;
    color: white;
    font-size: 40px;
}

header {
    height: 200px;
    width: 90%;
    background-color: #62757f;
}

.d-block {
    display: block;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.c-pointer {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.logo-img {
    height: 200px;
}

.imdb {
    height: 28px;
}

.menu {
    justify-content: center;
    vertical-align: middle;
    align-items: stretch;
    width: 100%;
}

.menu div {
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
}

#accueil a {
    color: inherit;
    text-decoration: inherit;
}

.home {
    width: 90%;
}

.content {
    width: 90%;
}

.best-movie {
    height: 536px;
    width: 100%;
    border: 1px solid black;
    justify-content: space-between;
}

.categorie {
    margin-top: 80px;
}

.titre-categ {
    margin-bottom: 30px;
    height: 45px;
    font-size: 40px;
    width: 100%;
}

.bloc-categ {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.prev-movie-arrow,
.next-movie-arrow {
    height: 536px;
}

.prev-movie-arrow > span,
.next-movie-arrow > span {
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
    font-size: 170px;
    font-weight: bold;
    height: 100%;
    width: 100x;
    margin-top: auto;
    margin-bottom: auto;
}

.container-movie {
    flex-wrap: nowrap;
    height: 536px;
    width: 100%;
    overflow: hidden;
}

.movie {
    justify-content: space-between;
    height: 536px;
    width: auto;
    background-color: #313638;
    margin: 0 10px 0 10px;
}

.affiche-film {
    height: 536px;
    width: 364px;
}

.shadow:hover {
    cursor: pointer;
    box-shadow: -10px 0 32px 0 rgba(173, 169, 169, 0.897);
}

.big-chiffre {
    font-size: 465px;
}

#background_best_movie {
    height: auto;
}

#bg_modal {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #62757f;
    opacity: 0.8;
}

#modal {
    z-index: 2;
    position: fixed;
    background-color: rgb(10, 10, 10);
    width: 80%;
    height: auto;
    top: 100px; 
    left: 300px;
    opacity: inherit;
    padding: 20px;
}

#close_modal {
    justify-content: flex-end;
    margin: 15px 15px 0px 0px;
}

.infos-modal {
    width: 100%;
}

.close {
    width: 40px;
    height: 40px;
}

.content-modal {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.titre-modal {
    font-size: 60px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    height: 30px;
}